
/* EVERYTHING */
* {
    background-color: black;
    box-sizing: border-box;
    /* font-family: -apple-system; */
    color: rgb(231, 233, 234);
    margin: 0;
    padding: 0;
}

/* SECTIONS (Sidebar main and right section) */
.sections {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
}

/* SIDEBAR LEFT */
.sidebar {
    width: 594px;
    height: 100vh;
    padding-left: 319px;
}

/* Sidebar navigation */
.categories {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 24px;
    width: 259px;
    padding: 0 8px;
}
/* Each option */
.category {
    padding: 12px;
    margin: 2.5px 0px;
    border-radius: 9999px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
}
.category i {
    margin-right: 20px;
    font-size: 30px;
}
.category p {
    margin: 0 16px 0 0;
}
.category:hover {
    transition: 0.3s;
    background:rgb(22, 24, 28);
    * {
        background:rgb(22, 24, 28);    
    }
}
.category svg {
    width: 26.25px;
    height: 26.25px;
    fill: white;
    margin-right: 20px;
}
.active {
    font-weight: 700;
}

/* post button */
.post-button {
    font-size: 17px;
    height: 52px;
    padding: 0 98px;
    background-color: white;
    color: rgb(15, 20, 25);
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    margin: 16px 0px;
}
.post-button:hover {
    transition: 0.3s;
    background-color: rgb(255, 255, 255, 0.85);
}

/* TWITTER (X) LOGO */
.logo {
    height: 52px;
    width: 52px;   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    margin-left: 9px;
}
.logo svg {
    border-radius: 50%; 
    box-sizing: content-box;
    padding: 10px;
    fill: white;
    text-align: center;
    cursor: pointer;
}
.logo :hover {
    background: rgb(22, 24, 28);
}

/* Account */
.account {
    width: 259px;
    padding: 12px;
    font-size: 15px;
    display: flex;
    height: 65.06px;
    align-items: center;
    margin: 33px 0px 12px 8px;
    border-radius: 9999px;
    cursor: pointer;
}
.account img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.account p {
    margin-left:12px;
    margin-bottom: 0px;
}
.account i {
    font-size: 21px;
    margin-left: 42px;
}
.account:hover {
    background: rgb(22, 24, 28);
    * {
        background: rgb(22, 24, 28);
    }
}
/* Lighter text */
.lighter {
    color: rgb(113, 118, 123);
}

/* MAIN SECTION */
.main-section {
    width: 600px;
    padding: 0px 12px;
    border: 1px solid #2f3336;
    border-bottom: 0px;
    border-top: 0px;
}
